/*Reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif; }

/*Variables*/
/*Imports*/
.hero {
  color: white;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(4, 9, 30, 0.8), rgba(4, 9, 30, 0.8)), url(../img/Background.png);
  background-position: center;
  background-size: cover;
  position: relative; }
  .hero main {
    color: white; }
    .hero main .hero_text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      align-items: center; }
      .hero main .hero_text h1 {
        margin: 0rem 2rem;
        font-size: 3rem;
        font-weight: 700; }
      .hero main .hero_text p {
        font-size: 1.5rem;
        margin: 0 3rem;
        font-weight: 400; }
      .hero main .hero_text button {
        font-size: 1.5rem;
        font-weight: 700;
        padding: 15px;
        margin-top: 2rem;
        background-color: hwb(4 21% 4%);
        border: 2px solid #114;
        transition: 0.2s; }
        .hero main .hero_text button:hover {
          border: 2px solid hwb(4 21% 4%); }
        .hero main .hero_text button a {
          color: #114;
          text-decoration: none;
          text-transform: capitalize; }
      .hero main .hero_text img {
        height: 7rem;
        margin-top: 2rem; }

.cards {
  margin: 6rem 5rem;
  display: flex;
  justify-content: space-evenly; }
  .cards div {
    padding: 1rem;
    margin: 2rem 1rem;
    text-align: center; }
    .cards div h3 {
      margin-top: 5px;
      font-size: 1.5rem;
      font-weight: 700;
      margin-bottom: 1rem; }
    .cards div p {
      font-size: 1,5rem; }
  .cards .card1, .cards .card2, .cards .card3 {
    max-width: 25%;
    background-color: lightgray;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px; }

.heroServicios {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(4, 9, 30, 0.8), rgba(4, 9, 30, 0.8)), url(../img/Background-2.jpg);
  background-position: center;
  background-size: cover;
  position: relative; }
  .heroServicios main {
    color: white; }
    .heroServicios main .hero_text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      align-items: center; }
      .heroServicios main .hero_text h1 {
        font-size: 3rem;
        margin-bottom: 3rem;
        font-weight: 700; }
      .heroServicios main .hero_text p {
        font-size: 1.5rem;
        margin: 0 3rem;
        font-weight: 400; }
      .heroServicios main .hero_text button {
        font-size: 1.5rem;
        font-weight: 700;
        padding: 15px;
        margin-top: 2rem;
        background-color: hwb(4 21% 4%);
        border: 2px solid #114;
        transition: 0.2s; }
        .heroServicios main .hero_text button:hover {
          border: 2px solid hwb(4 21% 4%); }
        .heroServicios main .hero_text button a {
          color: #114;
          text-decoration: none;
          text-transform: capitalize; }
      .heroServicios main .hero_text img {
        height: 7rem;
        margin-top: 2rem; }

.servicios {
  margin: 1rem; }
  .servicios ul {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none; }
    .servicios ul li {
      margin: 1rem 0;
      text-align: center;
      font-size: 30px;
      font-weight: 700; }
      .servicios ul li p {
        font-size: 20px;
        font-weight: 400; }

.heroShop {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(4, 9, 30, 0.8), rgba(4, 9, 30, 0.8)), url(../img/Background-3.jpg);
  background-position: center;
  background-size: cover;
  position: relative; }
  .heroShop main {
    color: white; }
    .heroShop main .hero_text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      align-items: center; }
      .heroShop main .hero_text h1 {
        font-size: 3rem;
        margin-bottom: 3rem;
        font-weight: 700; }
      .heroShop main .hero_text p {
        font-size: 1.5rem;
        margin: 0 3rem;
        font-weight: 400; }
      .heroShop main .hero_text .dealer {
        margin-top: 1rem;
        font-weight: 400; }
      .heroShop main .hero_text img {
        height: 7rem;
        margin-top: 2rem; }

.shop {
  margin: 2rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; }
  .shop div {
    margin: 1rem;
    width: 20%; }
    .shop div img {
      width: 100%; }
    .shop div p {
      font-weight: 700;
      font-size: 20px; }
    .shop div .precio {
      color: hwb(4 21% 4%);
      margin: .5rem .5rem .5rem 0; }
    .shop div button {
      margin-top: 1rem;
      width: 100%;
      height: 40px;
      font-weight: 400;
      font-size: 20px;
      color: #111144;
      background-color: hwb(4 21% 4%);
      border: none;
      padding-top: 4px;
      cursor: pointer; }
      .shop div button:hover {
        border: 2px solid black; }

.heroContactos {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(4, 9, 30, 0.8), rgba(4, 9, 30, 0.8)), url(../img/Background-5.jpg);
  background-position: center;
  background-size: cover;
  position: relative; }
  .heroContactos main {
    color: white; }
    .heroContactos main .hero_text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      align-items: center; }
      .heroContactos main .hero_text h1 {
        font-size: 3rem;
        margin-bottom: 3rem;
        font-weight: 700; }
      .heroContactos main .hero_text p {
        font-size: 1.5rem;
        margin: 0 3rem;
        font-weight: 400; }
      .heroContactos main .hero_text button {
        font-size: 1.5rem;
        padding: 15px;
        margin-top: 2rem;
        font-weight: 700;
        background-color: hwb(4 21% 4%);
        border: 2px solid #114;
        transition: 0.2s; }
        .heroContactos main .hero_text button:hover {
          border: 2px solid hwb(4 21% 4%); }
        .heroContactos main .hero_text button a {
          color: #114;
          text-decoration: none;
          text-transform: capitalize; }
      .heroContactos main .hero_text img {
        height: 7rem;
        margin-top: 2rem; }

.ubicacion {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightgray;
  margin: 3rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  text-align: center; }
  .ubicacion h2 {
    padding: 1rem;
    font-size: 30px; }
  .ubicacion p {
    padding: .5rem;
    font-size: 20px; }
  .ubicacion iframe {
    width: 90%;
    height: 250px;
    margin: 1rem; }

.containerFormulario {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  background-color: lightgray;
  margin: 3rem; }
  .containerFormulario h2 {
    text-align: center;
    padding: 1rem;
    font-size: 30px; }
  .containerFormulario .formulario {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .containerFormulario .formulario input, .containerFormulario .formulario textarea {
      width: 90%;
      padding: 1rem;
      margin: .5rem;
      background-color: beige;
      border: none; }
    .containerFormulario .formulario button {
      padding: 15px;
      margin: 2rem 0;
      width: 100px;
      background-color: hwb(4 21% 4%);
      border: 2px solid #114;
      transition: 0.2s;
      cursor: pointer;
      font-size: 20px;
      font-weight: 700; }
      .containerFormulario .formulario button:hover {
        border: 2px solid hwb(4 21% 4%); }

.heroBlog {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(4, 9, 30, 0.8), rgba(4, 9, 30, 0.8)), url(../img/Background-4.jpg);
  background-position: center;
  background-size: cover;
  position: relative; }
  .heroBlog main {
    color: white; }
    .heroBlog main .hero_text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      align-items: center; }
      .heroBlog main .hero_text h1 {
        font-size: 3rem;
        margin-bottom: 3rem;
        font-weight: 700; }
      .heroBlog main .hero_text p {
        font-size: 1.5rem;
        margin: 0 3rem;
        font-weight: 400; }

.blogContent {
  margin-top: 2rem; }
  .blogContent h2 {
    font-size: 2rem;
    padding: 1rem;
    text-align: center; }
  .blogContent #carouselR32, .blogContent #carouselR, .blogContent #carouselC63 {
    margin: 5vh 25vw; }

/*---------footer---------*/
footer {
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  align-items: center; }
  footer .icons {
    margin-top: 2rem;
    display: flex;
    justify-content: center; }
    footer .icons div {
      margin: 0 2rem; }
      footer .icons div img {
        width: 60px;
        height: 60px; }
  footer h3 {
    font-size: 30px;
    font-weight: 700;
    margin: 15px 0; }
  footer p {
    font-size: 20px;
    text-align: center;
    font-weight: 400;
    margin: 1rem 0.5rem; }

/*---------media querys--------*/
@media screen and (min-width: 1440px) {
  .hero main, .heroServicios main, .heroBlog main, .heroContactos main, .heroShop main {
    margin-top: 5rem; }
    .hero main .hero_text, .heroServicios main .hero_text, .heroBlog main .hero_text, .heroContactos main .hero_text, .heroShop main .hero_text {
      margin: 1rem 1rem; }
      .hero main .hero_text h1, .heroServicios main .hero_text h1, .heroBlog main .hero_text h1, .heroContactos main .hero_text h1, .heroShop main .hero_text h1 {
        font-size: 5rem;
        margin-bottom: 2rem; }
      .hero main .hero_text p, .heroServicios main .hero_text p, .heroBlog main .hero_text p, .heroContactos main .hero_text p, .heroShop main .hero_text p {
        font-size: 3rem;
        margin: 0 2rem; }
      .hero main .hero_text button, .heroServicios main .hero_text button, .heroBlog main .hero_text button, .heroContactos main .hero_text button, .heroShop main .hero_text button {
        font-size: 3rem; }
  .blogContent h2 {
    font-size: 2.5rem; }
  .shop div .precio {
    font-size: 35px; }
  .shop div .descripcion {
    font-size: 35px; }
  .shop div p {
    font-size: 35px; }
  .shop div button {
    height: 60px; }
  .servicios ul li {
    font-size: 40px; }
    .servicios ul li p {
      font-size: 30px; }
  .cards div h3 {
    font-size: 3rem; }
  .cards div p {
    font-size: 2rem; }
  footer .icons div {
    margin: 0 1rem; }
    footer .icons div img {
      width: 75px;
      height: 75px; }
  footer .icons h3 {
    font-size: 35px; }
  footer .icons p {
    font-size: 30px; } }

@media screen and (max-width: 1120px) {
  .mainContainer {
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center; }
    .mainContainer .galleryText {
      width: 30%;
      text-align: center; }
      .mainContainer .galleryText h1 {
        color: white;
        font-size: 5rem; }
    .mainContainer .carouselContainer {
      width: 55%; } }

@media screen and (max-width: 1000px) {
  .cards {
    flex-direction: column; }
    .cards .card1, .cards .card2, .cards .card3 {
      margin-bottom: 1rem;
      max-width: 100%; }
      .cards .card1 p, .cards .card2 p, .cards .card3 p {
        font-size: 25px;
        padding: 1rem; }
  .blogContent #carouselR32, .blogContent #carouselR, .blogContent #carouselC63 {
    margin: 5vh 5vw; } }

@media screen and (max-width: 992px) {
  .hero main, .heroServicios main, .heroBlog main, .heroContactos main, .heroShop main {
    margin-top: 3rem; } }

@media screen and (max-width: 904px) {
  .shop div {
    width: 30%; } }

@media screen and (max-width: 769px) {
  .cards {
    margin: 4rem 1rem; }
    .cards .card1 h3, .cards .card2 h3, .cards .card3 h3 {
      font-size: 1.5rem; }
    .cards .card1 p, .cards .card2 p, .cards .card3 p {
      font-size: 1.2rem; }
  footer .icons div {
    margin: 0 1rem; }
  footer h3 {
    font-size: 25px; } }

@media screen and (max-width: 613px) {
  .hero main, .heroServicios main, .heroBlog main, .heroContactos main, .heroShop main {
    margin-top: 2rem; }
    .hero main .hero_text h1, .heroServicios main .hero_text h1, .heroBlog main .hero_text h1, .heroContactos main .hero_text h1, .heroShop main .hero_text h1 {
      font-size: 2rem;
      margin-bottom: .5rem; }
    .hero main .hero_text p, .heroServicios main .hero_text p, .heroBlog main .hero_text p, .heroContactos main .hero_text p, .heroShop main .hero_text p {
      font-size: 1.5rem;
      margin: 0 2rem; }
    .hero main .hero_text .dealer, .heroServicios main .hero_text .dealer, .heroBlog main .hero_text .dealer, .heroContactos main .hero_text .dealer, .heroShop main .hero_text .dealer {
      margin-top: 1rem; }
  .shop div {
    width: 65%; } }

@media screen and (max-width: 500px) {
  .hero main, .heroServicios main, .heroShop main {
    margin-top: 0; }
    .hero main .hero_text button, .heroServicios main .hero_text button, .heroShop main .hero_text button {
      margin-top: 0.4rem; }
  .heroBlog main, .heroContactos main {
    margin-top: 4rem; }
    .heroBlog main .hero_text button, .heroContactos main .hero_text button {
      margin-top: 1rem; }
  .blogContent h2 {
    font-size: 1.5rem; }
  .ubicacion, .containerFormulario {
    margin: 1rem; } }
