.heroBlog{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(4,9,30,0.8),rgba(4,9,30,0.8)),url(../img/Background-4.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    main{
        color: white;
        .hero_text{
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            align-items: center;
            h1{
                font-size: 3rem;
                margin-bottom: 3rem;
                font-weight: 700;
            }
            p{
                font-size: 1.5rem;
                margin:0 3rem;
                font-weight: 400;
            }
        }
    }
}

.blogContent{
    margin-top: 2rem;
    h2{
        font-size: 2rem;
        padding: 1rem;
        text-align: center;
    }
    #carouselR32, #carouselR, #carouselC63{
        margin: 5vh 25vw;
    }
}