.hero{
    color: white;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(4,9,30,0.8),rgba(4,9,30,0.8)),url(../img/Background.png);
    background-position: center;
    background-size: cover;
    position: relative;
    main{
        color: white;
        .hero_text{
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            align-items: center;
            h1{
                margin: 0rem 2rem;
                font-size: 3rem;
                font-weight: 700;
            }
            p{
                font-size: 1.5rem;
                margin:0 3rem;
                font-weight: 400;
            }
            button{
                font-size: 1.5rem;
                font-weight: 700;
                padding: 15px;
                margin-top: 2rem;
                background-color: $Naranja;
                border: 2px solid #114; 
                transition: 0.2s;
                &:hover{
                    border: 2px solid $Naranja;
                }
                a{
                    color: #114;
                    text-decoration: none;
                    text-transform: capitalize;
                }
            }
            img{
                height: 7rem;
                margin-top: 2rem;
            }
        }
    }
}

.cards{
    margin: 6rem 5rem;
    display: flex;
    justify-content: space-evenly;
    div{
        padding: 1rem;
        margin: 2rem 1rem;
        text-align: center;
        h3{
            margin-top: 5px;
            font-size: 1.5rem;
            font-weight: 700;
            margin-bottom: 1rem;   
        }
        p{
            font-size: 1,5rem;
        }
    }
    .card1, .card2, .card3{
        max-width: 25%;
        background-color: $grisclaro;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    }
}