.heroShop{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(4,9,30,0.8),rgba(4,9,30,0.8)),url(../img/Background-2.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    main{
        color: white;
        .hero_text{
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            align-items: center;
            h1{
                font-size: 3rem;
                margin-bottom: 3rem;
                font-weight: 700;
            }
            p{
                font-size: 1.5rem;
                margin:0 3rem;
                font-weight: 400;
            }
            .dealer{
                margin-top: 1rem;
                font-weight: 400;
            }
            img{
                height: 7rem;
                margin-top: 2rem;
            }
        }
    }
}


.shop{
    margin: 2rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    div{
        margin: 1rem;
        width: 20%;
        img{
            width: 100%;
        }
        p{
            font-weight: 700;
            font-size: 20px;
        }
        .precio{
            color: $Naranja;
            margin: .5rem .5rem .5rem 0;
        }
        button{
            margin-top: 1rem;
            width: 100%;
            height: 40px;
            font-weight: 400;
            font-size: 20px;
            color: $azul;
            background-color: $Naranja;
            border: none;
            padding-top: 4px;
            cursor: pointer;
            &:hover{
                border: 2px solid black;
            }
        }
    }
}