.hero_contactos{
    main{
        .hero_text{
            .instagram, .whatsapp{
                font-size: 30px;
                margin: 1rem;
                span{
                    &:hover{
                        cursor: pointer;
                        color: $Naranja;
                    }
                }
            }
        }
    }
}

.ubicacion{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $grisclaro;
    margin: 3rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    text-align: center;
    h2{
        padding: 1rem;
        font-size: 30px;
    }
    p{
        padding: .5rem;
        font-size: 20px;
    }
    iframe{
        width: 90%;
        height: 250px;
        margin: 1rem;
    }
}

.containerFormulario{
    background-color: $grisclaro;
    margin: 3rem;
    h2{
        text-align: center;
        padding: 1rem;
        font-size: 30px;
    }
    .formulario{
        display: flex;
        flex-direction: column;
        align-items: center;
        input, textarea{
            width: 90%;
            padding: 1rem;
            margin: .5rem;
            background-color: beige;
            border: none;
        }
        button{
            padding: 15px;
            margin:2rem 0;
            width: 100px;
            background-color: $Naranja;
            border: 2px solid #114; 
            transition: 0.2s;
            cursor: pointer;
            font-size: 20px;
            font-weight: 700;
            &:hover{
                border: 2px solid $Naranja;
            }
        }
    }
}