/*Reset*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

/*Variables*/

$grisclaro: rgb(211, 211, 211);
$azul: rgb(17, 17, 68);
$Naranja: hwb(4 21% 4%);
$light: #ffff;

/*Imports*/

@import "index.scss";
@import "servicios.scss";
@import "shop.scss";
@import "contactos.scss";
@import "gallery.scss";

/*---------footer---------*/

footer{
    background-color: $grisclaro ;
    display: flex;
    flex-direction: column;
    align-items: center;
    .icons{
        margin-top: 2rem;
        display: flex;
        justify-content: center;
        div{
            margin: 0 2rem;
            img{
                width: 60px;
                height: 60px;
            }
        }
    }
    h3{
        font-size: 30px;
        font-weight: 700;
        margin: 15px 0;
    }
    p{
        font-size: 20px;
        text-align: center;
        font-weight: 400;
        margin: 1rem 0.5rem;
    }
}

/*---------media querys--------*/

@media screen and (min-width:1440px){
    .hero, .heroServicios, .heroBlog, .heroContactos, .heroShop{
        main{
            margin-top: 5rem;
            .hero_text{
                margin: 1rem 1rem;
                h1{
                    font-size: 5rem;
                    margin-bottom: 2rem;
                }
                p{
                    font-size: 3rem;
                    margin: 0 2rem;
                }
                button{
                    font-size: 3rem;
                }
            }
        }   
    }
    .blogContent{
        h2{
            font-size: 2.5rem;
        }
    }
    .shop{
        div{
            .precio{
                font-size: 35px;
            }
            .descripcion{
                font-size: 35px;
            }
            p{
                font-size: 35px;
            }
            button{
                height: 60px;
            }
        }
    }
    .servicios{
        ul{
            li{
                font-size: 40px;
                p{
                    font-size: 30px;
                }
            }
        }  
    }
    .cards{
        div{
            h3{
                font-size: 3rem;
            }
            p{
                font-size: 2rem;
            }
        }
    }
    footer{
        .icons{
            div{
                margin: 0 1rem;
                img {
                width: 75px;
                height: 75px;
            }
        }
        h3{
            font-size: 35px;
        }
        p{
            font-size: 30px;
        }
    }
}   

}

@media screen and(max-width: 1120px){
    .mainContainer{
        margin-top: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        .galleryText{
            width: 30%;
            text-align: center;
            h1{
                color: white;
                font-size: 5rem;
            }
        }
        .carouselContainer{
            width: 55%;
        }
    }
}

@media screen and(max-width: 1000px){
    .cards{
        flex-direction: column;
        .card1, .card2, .card3{
            margin-bottom: 1rem;
            max-width: 100%;
            p{
                font-size: 25px;
                padding: 1rem;
            }
        }
    }
    .blogContent{
        #carouselR32,#carouselR, #carouselC63{
            margin: 5vh 5vw;
        }
    }
}

@media screen and(max-width: 992px){
    .hero, .heroServicios, .heroBlog, .heroContactos, .heroShop{
        main{
            margin-top: 3rem;
        }
    }    
}

@media screen and(max-width: 904px){
    .shop{
        div{
            width: 30%;
        }
    }
}

@media screen and(max-width: 769px){
    .cards{
        margin: 4rem 1rem;
        .card1, .card2, .card3{
            h3{
                font-size: 1.5rem;
            }
            p{
                font-size:1.2rem;
            }
        }
    }
    footer{
        .icons{
            div{
                margin: 0 1rem;
            }
        }
        h3{
            font-size: 25px;
        }
    }
}

@media screen and (max-width: 613px){
    .hero, .heroServicios, .heroBlog, .heroContactos, .heroShop{
        main{
            margin-top: 2rem;
            .hero_text{
                h1{
                    font-size: 2rem;
                    margin-bottom: .5rem;
                }
                p{
                    font-size: 1.5rem;
                    margin: 0 2rem;
                }
                .dealer{
                    margin-top: 1rem;
                }
            }
        }
    }
    .shop{
        div{
            width: 65%;
        }
    }
}

@media screen and (max-width:500px){
    .hero, .heroServicios, .heroShop{
        main{
            margin-top: 0;
            .hero_text{
                button{
                    margin-top: 0.4rem;
                }
            }
        }
    }
    .heroBlog, .heroContactos{
        main{
            margin-top: 4rem;
            .hero_text{
                button{
                    margin-top: 1rem;
                }
            }
        }
    }
    .blogContent{
        h2{
            font-size: 1.5rem;
        }
    }
    .ubicacion, .containerFormulario{
        margin: 1rem;
    }
}