/*Reset*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

/*Variables*/

$grisclaro: rgb(211, 211, 211);
$azul: rgb(17, 17, 68);
$Naranja: hwb(4 21% 4%);

/*Imports*/

@import "index.scss";
@import "servicios.scss";
@import "shop.scss";
@import "contactos.scss";

/*-----Contenido principal-------*/

.hero{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../img/Background-5.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    header{
        display: flex;
        align-items: center;
        div{
            a{
                img{
                    height: 75px;
                    margin: 2rem;
                    border-radius: 50%;
                }
            }
        }
        .navlinks{
            margin: 2rem 2rem 2rem auto;
            ul{
                list-style-type: none;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                li{
                    margin: 0 .5rem;
                    a{
                        text-decoration: none;
                        text-transform: uppercase;
                        color: white;
                        font-size: 25px;
                        font-weight: 700;
                        
                        &:hover{
                            text-decoration:underline $Naranja;
                        }
                    }
                }
            }
        }
    }
    main{
        width: 90%;
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        display: flex;
        justify-content: center;
        text-align: center;
        h1{
            font-size: 50px;
            margin-bottom: 3rem;
        }
        p{
            font-size: 30px;
            margin:0 3rem;
        }
        button{
            padding: 15px;
            margin-top: 2rem;
            background-color: $Naranja;
            border: 2px solid #114; 
            transition: 0.2s;
            &:hover{
                border: 2px solid $Naranja;
            }
            a{
                font-size: 30px;
                color: #114;
                text-decoration: none;
                text-transform: capitalize;
                font-weight: 700;
            }
        }
        img{
            height: 150px;
            margin-top: 2rem;
        }
    }
}

/*---------footer---------*/

footer{
    background-color: $grisclaro ;
    display: flex;
    flex-direction: column;
    align-items: center;
    .icons{
        margin-top: 2rem;
        display: flex;
        justify-content: center;
        div{
            margin: 0 2rem;
            img{
                width: 60px;
                height: 60px;
            }
        }
    }
    h3{
        font-size: 30px;
        margin: 15px 0;
    }
    p{
        font-size: 20px;
        text-align: center;
        margin: 1rem 0.5rem;
    }
}

/*---------media querys--------*/

@media screen and(max-width: 1000px){
    .cards{
        flex-direction: column;
        .card1, .card2, .card3{
            margin-bottom: 1rem;
            p{
                font-size: 25px;
                padding: 1rem;
            }
        }
    }
}

@media screen and(max-width: 950px){
    .hero{
        header{
            .navlinks{
                ul{
                    li{
                        a{
                            font-size: 23px;
                        }
                    }
                }    
            }
        }
    }
}

@media screen and(max-width: 904px){
    .shop{
        div{
            width: 30%;
        }
    }
}

@media screen and(max-width: 835px){
    .hero{
        main{
            top: 60%;
            .hero_text{
                h1{
                    font-size: 35px ;
                }
                p{
                    font-size: 25px;
                }
                button{
                    a{
                        font-size: 25px;
                    }
                }
            }
        }
    }
}

@media screen and(max-width: 769px){
    .hero{
        header{
            .navlinks{
                margin: 0;
            }
        }
    }
    .cards{
        margin: 4rem 1rem;
        .card1, .card2, .card3{
            h3{
                font-size: 20px;
            }
            p{
                font-size: 17px;
            }
        }
    }
    footer{
        .icons{
            div{
                margin: 0 1rem;
            }
        }
        h3{
            font-size: 25px;
        }
    }
}

@media screen and (max-width: 613px){
    .shop{
        div{
            width: 65%;
        }
    }
}

@media screen and(max-width: 590px){
    .hero{
        main{
            .hero_text{
                h1{
                    font-size: 35px;
                    margin-bottom: 2rem;
                }
                p{
                    font-size: 25px
                }
                button{
                    a{
                        font-size: 20px;
                    }
                }
            }
        }
    }
}

@media screen and(max-width: 440px){
    .hero{
        main{
            .hero_text{
                h1{
                    margin-bottom: 1.5rem;
                }
                p{
                    margin:0 1rem;
                }
                button{
                    margin-top: 1rem;
                    a{
                        font-size: 20px;
                    }
                }
                img{
                    height: 115px;
                }
            }
        }
    }
    .servicios{
        ul{
            margin: .5rem;
        }
    }
}
