.servicios{
    margin: 1rem;
    ul{
        padding: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style-type: none;
        li{
            margin: 1rem 0;
            text-align: center;
            font-size: 30px;
            font-weight: 700;
            p{
                font-size: 20px;
                font-weight: 400;
            }
        }
    }
}